<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Valor</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let credit of credits; index as idx">
                <td>
                    <input type="text" class="form-control" [(ngModel)]="credit.name"/>
                </td>
                <td>
                    <input type="number" class="form-control" [(ngModel)]="credit.value"/>
                </td>
                <td class="table-actions">
                    <button class="btn btn-success" (click)="incluir(idx)"><i class="fa fa-plus"></i></button>
                    <button class="btn btn-warning" (click)="clonar(idx, credit)"><i class="fa fa-copy"></i></button>
                    <button class="btn btn-danger" (click)="excluir(idx)" [disabled]="credits.length == 1"><i class="fa fa-trash-o"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>