<header class="main-header">
    <a class="logo" href="/">
        <span class="logo-mini">
            <i class="fa fa-dollar"></i>
        </span>
        <span class="logo-lg">
            <i class="fa fa-dollar"></i>&nbsp;<b>MEAN</b>
        </span>
    </a>
    <nav class="navbar navbar-static-top">
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button"></a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="../../assets/img/user.jpg" class="user-image" alt="User Image">
                        <span class="hidden-xs">{{getUser().name}}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="user-header">
                            <img src="../../assets/img/user.jpg" class="img-circle" alt="User Image">
                            <p>
                                {{getUser().name}}
                                <small>{{getUser().email}}</small>
                            </p>
                        </li>
                        <li class="user-footer">
                            <div class="pull-right">
                                <button type="button" class="btn btn-default btn-flat" (click)="logout()">Sair</button>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>